body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fafaf9;
}

header {
    background-color: #333;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ff8c00;
    font-size: 1.5em;
}

nav {
    display: flex;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ff8c00;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header img {
    width: 100px;
    /* Defina o valor desejado para a largura */
    height: auto;
}

/* Adicione media queries para ajustes responsivos */

/* Tablets e dispositivos com largura de tela até 768px */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .menu li {
        margin: 0;
        margin-bottom: 10px;
    }
}

/* Telefones e dispositivos com largura de tela até 480px */
@media screen and (max-width: 480px) {
    .logo {
        font-size: 1.2em;
    }

    .menu a {
        font-size: 0.9em;
    }
}